.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

.title {
  color: #343A40;
  font-family: "Rubik";
  line-height: 1.2;
}

.title1 {
  font-size: 74px;
  font-weight: 700;
}

.title2 {
  font-size: 42px;
  font-weight: 700;
}

.subtitle24 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #343A40;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 0;
}
.nav-text__element {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #343A40;
}
.nav-text__element:not(.nav-text__element:first-child) {
  margin-left: 40px;
}
.nav-text__element:hover {
  color: #3355FF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-burger {
  z-index: 10;
  display: none;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .nav-content {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .nav-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .nav-logo img {
    width: 204px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media screen and (max-width: 768px) {
  .nav-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .nav-logo img {
    width: 183px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .nav-text {
    display: none;
  }
  .nav-burger {
    display: block;
    position: relative;
    width: 34px;
    height: 26px;
  }
  .nav-burger span {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #343A40;
    top: 10px;
    bottom: 10px;
  }
  .nav-burger span:after,
.nav-burger span:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #343A40;
  }
  .nav-burger span:before {
    content: "";
    bottom: 8px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .nav-burger span:after {
    content: "";
    top: 8px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}
.burger__active {
  z-index: 10;
}
.burger__active span {
  height: 0;
}
.burger__active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger__active span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 9;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu-content {
  width: 50%;
  margin: auto;
}
.menu-list {
  margin-top: 30%;
  margin-bottom: 50%;
}
.menu-list__item {
  margin-top: 30px;
  text-align: center;
}
.menu-list__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  color: #343A40;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu-list__text:hover {
  color: #3355FF;
}

@media screen and (max-width: 768px) {
  .menu-content {
    width: 90%;
    margin: 0 auto;
  }
  .menu-list__text {
    font-size: 24px;
  }
}
.menu__active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.main {
  background: url("../img/mainPage/bg.png") left bottom no-repeat;
  background-size: cover;
}
.main-info {
  padding: 183px 0px;
}
.main-info__suptitle {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  color: #343A40;
}
.main-info__title {
  margin-top: 10px;
  margin-bottom: 5px;
}
.main-info__subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #343A40;
  margin-bottom: 62px;
}
.main-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-connection__tryBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 48px;
  background-color: #3355FF;
  margin-right: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
}
.main-connection__tryBtn:hover {
  background-color: #122791;
}
.main-connection__tryBtnContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-connection__text {
  margin-right: 8px;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.main-connection__img {
  display: block;
}
.main-subscr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-subscr__text {
  margin-left: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #343A40;
}
.main-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.main-cards__item {
  padding: 44px 27px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
          box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
  border-radius: 4px;
  width: 24%;
}
.main-cards__price {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #343A40;
  font-size: 52px;
  text-align: center;
}
.main-cards__descr {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #343A40;
  margin-top: 4px;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .main-content {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
  }
  .main-cards__price {
    font-size: 42px;
  }
  .main-cards__descr {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-info {
    padding-top: 191px;
    padding-bottom: 75px;
  }
  .main-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .main-connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 150px;
  }
  .main-connection__tryBtn {
    width: 100%;
    margin-right: 0;
  }
  .main-connection__tryBtnContent {
    margin: 0 auto;
  }
  .main-subscr {
    margin-top: 12px;
  }
  .main-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-cards__item {
    width: 48%;
  }
  .main-cards__item:nth-child(1) {
    margin-bottom: 24px;
  }
  .main-cards__item:nth-child(2) {
    margin-bottom: 24px;
  }
  .main-cards__price {
    font-size: 42px;
  }
  .main-cards__descr {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .main-info {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .main-info__suptitle {
    font-size: 18px;
  }
  .main-info__title {
    font-size: 58px;
    line-height: 1.1;
  }
  .main-info__subtitle {
    font-size: 16px;
    margin-bottom: 0;
  }
  .main-connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 70px;
  }
  .main-connection__tryBtn {
    width: 100%;
    margin-right: 0;
  }
  .main-connection__tryBtnContent {
    margin: 0 auto;
  }
  .main-subscr {
    margin-top: 12px;
  }
  .main-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-cards__item {
    width: 100%;
  }
  .main-cards__item:not(.main-cards__item:last-child) {
    margin-bottom: 24px;
  }
  .main-cards__price {
    font-size: 42px;
  }
  .main-cards__descr {
    font-size: 20px;
  }
}
.abilities {
  background-color: #FAFAFA;
}
.abilities-content {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.abilities-content__title {
  max-width: 300px;
  margin-right: 77px;
}
.abilities-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.abilities-cards__item {
  position: relative;
  max-width: 376px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-height: 393px;
  padding: 60px 34px 40px 40px;
}
.abilities-cards__item:nth-child(2) {
  max-height: 310px;
  margin-bottom: 87px;
}
.abilities-cards__item:nth-child(3) {
  max-height: 330px;
  margin-bottom: 66px;
}
.abilities-cards__item:nth-child(4) {
  max-height: 300px;
}
.abilities-cards__item:nth-child(5) {
  max-height: 317px;
}
.abilities-cards__item:nth-child(6) {
  max-height: 260px;
}
.abilities-cards__img {
  position: absolute;
  top: -50px;
  left: 20px;
}
.abilities-cards__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  color: #343A40;
  margin-bottom: 5px;
}
.abilities-cards__descr {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #343A40;
  margin-bottom: 20px;
}
.abilities-cards__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #343A40;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .abilities-content {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
  }
  .abilities-content__title {
    margin-right: 30px;
  }
  .abilities-cards__item {
    max-width: 328px;
  }
  .abilities-cards__item:nth-child(2) {
    max-height: 330px;
    margin-bottom: 86px;
  }
  .abilities-cards__item:nth-child(3) {
    max-height: 360px;
    margin-bottom: 65px;
  }
  .abilities-cards__item:nth-child(4) {
    max-height: 305px;
  }
  .abilities-cards__item:nth-child(5) {
    max-height: 350px;
  }
  .abilities-cards__item:nth-child(6) {
    max-height: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .abilities-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .abilities-content__title {
    margin-right: 0px;
    max-width: none;
    margin-bottom: 73px;
    width: 100%;
  }
  .abilities-cards__item {
    max-width: 328px;
  }
  .abilities-cards__item:nth-child(2) {
    max-height: 330px;
    margin-bottom: 86px;
  }
  .abilities-cards__item:nth-child(3) {
    max-height: 360px;
    margin-bottom: 65px;
  }
  .abilities-cards__item:nth-child(4) {
    max-height: 305px;
    margin-bottom: 107px;
  }
  .abilities-cards__item:nth-child(5) {
    max-height: 350px;
  }
  .abilities-cards__item:nth-child(6) {
    max-height: 280px;
  }
}
@media screen and (max-width: 768px) {
  .abilities-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 60px 0px;
  }
  .abilities-content__title {
    margin-right: 0px;
    max-width: none;
    margin-bottom: 60px;
    width: 100%;
    font-size: 40px;
  }
  .abilities-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .abilities-cards__item {
    max-width: 296px;
  }
  .abilities-cards__item:nth-child(2) {
    max-height: 355px;
    margin-bottom: 61px;
  }
  .abilities-cards__item:nth-child(3) {
    max-height: 400px;
    margin-bottom: 61px;
  }
  .abilities-cards__item:nth-child(4) {
    max-height: 335px;
    margin-bottom: 61px;
  }
  .abilities-cards__item:nth-child(5) {
    max-height: 395px;
    margin-bottom: 61px;
  }
  .abilities-cards__item:nth-child(6) {
    max-height: 275px;
    margin-bottom: 0px;
  }
}
.advantages-content {
  padding-top: 100px;
  padding-bottom: 68px;
}
.advantages-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantages-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1059px;
}
.advantages-cards__item:not(.advantages-cards__item:last-child) {
  margin-bottom: 76px;
}
.advantages-cards__title {
  margin-bottom: 36px;
}
.advantages-cards__title2 {
  display: none;
}
.advantages-cards__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #343A40;
  margin-bottom: 12px;
}
.advantages-cards__descr {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #343A40;
  max-width: 557px;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .advantages-content {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
  }
  .advantages-cards__item {
    max-width: 1032px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantages-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .advantages-cards {
    margin: 0 auto;
  }
  .advantages-cards__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages-cards__title {
    display: none;
  }
  .advantages-cards__title2 {
    display: block;
    text-align: center;
    margin-bottom: 36px;
  }
  .advantages-cards__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .advantages-cards__subtitle {
    text-align: center;
  }
  .advantages-cards__descr {
    text-align: center;
  }
  .advantages-cards__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 768px) {
  .advantages-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 60px;
  }
  .advantages-cards {
    margin: 0 auto;
  }
  .advantages-cards__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages-cards__title {
    display: none;
  }
  .advantages-cards__title2 {
    display: block;
    text-align: center;
    margin-bottom: 36px;
  }
  .advantages-cards__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .advantages-cards__subtitle {
    text-align: center;
  }
  .advantages-cards__descr {
    text-align: center;
  }
  .advantages-cards__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 24px;
    width: 100%;
    max-width: 300px;
  }
}
.helper {
  margin-top: 188px;
  background-color: #4867FF;
  margin-bottom: 139px;
}
.helper-content {
  padding: 80px 0px;
  position: relative;
}
.helper-content__suptitle {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
  margin-bottom: 4px;
}
.helper-content__title {
  color: #FFFFFF;
  margin-bottom: 20px;
}
.helper-content__tryBtn {
  border: 2px solid #FFFFFF;
  background-color: #4867FF;
  max-width: 276px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.helper-content__tryBtn:hover {
  background-color: #3F60FE;
}
.helper-content__phones {
  position: absolute;
  right: -100px;
  top: -150px;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .helper-content {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
    padding: 61px 0;
  }
  .helper-content__phones {
    max-width: 760px;
    max-height: 564px;
    top: -125px;
    right: -80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .helper-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 44px 0;
  }
  .helper-content__suptitle {
    font-size: 24px;
  }
  .helper-content__title {
    font-size: 60px;
  }
  .helper-content__phones {
    max-width: 552px;
    max-height: 454px;
    top: -80px;
    right: -43px;
  }
}
@media screen and (min-width: 768px) and (max-width: 880px) {
  .helper {
    margin: 100px 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .helper-content__phones {
    max-width: 478px;
    max-height: 376px;
    top: -30px;
    right: -73px;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 768px) {
  .helper {
    margin: 60px 0;
  }
  .helper-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 60px 0;
  }
  .helper-content__phones {
    width: 208px;
    height: 154px;
    top: -70px;
    right: -16px;
  }
  .helper-content__suptitle {
    font-size: 18px;
  }
  .helper-content__title {
    font-size: 58px;
  }
}
.partners-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 100px;
}
.partners-text {
  margin-right: 35px;
}
.partners-text__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #343A40;
  margin-top: 16px;
}
.partners-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.partners-pictures__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
}
.partners-pictures__img:nth-child(1) {
  margin-bottom: 30px;
}
.partners-pictures__img:nth-child(2) {
  margin-bottom: 30px;
}
.partners-pictures__img:nth-child(3) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .partners-content {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .partners-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .partners-pictures__img {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 74px;
  }
  .partners-pictures__img:nth-child(1) {
    margin-bottom: 0px;
  }
  .partners-pictures__img:nth-child(2) {
    margin-bottom: 0px;
  }
  .partners-pictures__img:nth-child(3) {
    margin-bottom: 0px;
  }
  .partners-pictures__img:nth-child(4) {
    margin-bottom: 0px;
  }
  .partners-pictures__img img {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .partners-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partners-text {
    margin: 0px auto;
  }
  .partners-text__title {
    font-size: 40px;
    text-align: center;
  }
  .partners-text__subtitle {
    text-align: center;
    margin-bottom: 30px;
  }
  .partners-pictures {
    margin: 0 auto;
  }
  .partners-pictures__img {
    width: 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 0;
    margin: 0 auto;
    max-width: 260px;
  }
  .partners-pictures__img:nth-child(1) {
    margin-bottom: 30px;
  }
  .partners-pictures__img:nth-child(2) {
    margin-bottom: 30px;
  }
  .partners-pictures__img:nth-child(3) {
    margin-bottom: 30px;
  }
  .partners-pictures__img:nth-child(4) {
    margin-bottom: 30px;
  }
  .partners-pictures__img:nth-child(5) {
    margin-bottom: 30px;
  }
  .partners-pictures__img img {
    width: 100%;
  }
}
.contacts {
  background-color: #FBFBFB;
  position: relative;
}
.contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 100px 0;
}
.contacts-arrowUp {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 48px;
  height: 48px;
  background: url("../img/connectWithUs/arrowWithUs.svg");
  background-size: cover;
}
.contacts-text {
  width: 33%;
  margin-right: 30px;
}
.contacts-text__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #343A40;
  margin-top: 16px;
}
.contacts-form {
  max-width: 776px;
}
.contacts-form__warning {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #808080;
  display: block;
  margin-top: 12px;
  margin-bottom: 24px;
}
.contacts-form__input {
  background: #EDEEEF;
  border: 1px solid #E3E5E6;
  border-radius: 4px;
  padding: 20px 24px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.contacts-form__input::-webkit-input-placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.contacts-form__input::-moz-placeholder {
  -moz-transition: 0.5s;
  transition: 0.5s;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.contacts-form__input:-ms-input-placeholder {
  -ms-transition: 0.5s;
  transition: 0.5s;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.contacts-form__input::-ms-input-placeholder {
  -ms-transition: 0.5s;
  transition: 0.5s;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.contacts-form__input::placeholder {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.contacts-form__input:focus::-webkit-input-placeholder {
  font-size: 10px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}
.contacts-form__input:focus::-moz-placeholder {
  font-size: 10px;
  transform: translateY(-16px);
}
.contacts-form__input:focus:-ms-input-placeholder {
  font-size: 10px;
  transform: translateY(-16px);
}
.contacts-form__input:focus::-ms-input-placeholder {
  font-size: 10px;
  transform: translateY(-16px);
}
.contacts-form__input:focus::placeholder {
  font-size: 10px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}
.contacts-form__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts-form__nameBlock {
  width: 48%;
  margin-right: 24px;
}
.contacts-form__nameInput {
  width: 100%;
}
.contacts-form__emailBlock {
  width: 48%;
}
.contacts-form__emailInput {
  width: 100%;
}
.contacts-form__messageBlock {
  margin-top: 24px;
  position: relative;
}
.contacts-form__messageInput {
  padding-bottom: 125px;
  width: 100%;
  outline: none;
  resize: none;
}
.contacts-form__messageBlockCounter {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #B8B8B8;
}
.contacts-form__btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

.error {
  border-bottom: 2px solid red;
}

label.error {
  display: none !important;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .contacts-content {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
  }
  .contacts-text {
    max-width: 250px;
  }
  .contacts-form__btn {
    max-width: 276px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-arrowUp {
    display: none;
  }
  .contacts-text {
    width: 100%;
  }
  .contacts-text__subtitle {
    margin-bottom: 24px;
  }
  .contacts-form {
    width: 100%;
    max-width: none;
  }
  .contacts-form__btn {
    width: 100%;
  }
  .contacts-form__btn span {
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .contacts-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-arrowUp {
    display: none;
  }
  .contacts-text {
    width: 100%;
  }
  .contacts-text__subtitle {
    margin-bottom: 24px;
  }
  .contacts-form {
    width: 100%;
    max-width: none;
  }
  .contacts-form__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-form__nameBlock {
    width: 100%;
    margin-bottom: 16px;
  }
  .contacts-form__emailBlock {
    width: 100%;
  }
  .contacts-form__messageBlock {
    margin-top: 16px;
  }
  .contacts-form__btn {
    width: 100%;
  }
  .contacts-form__btn span {
    margin: 0 auto;
  }
}
.footer {
  background-color: #122791;
}
.footer-content {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-accept {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.footer-rights {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.footer-email {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .footer-content {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-accept {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
    margin-bottom: 20px;
  }
  .footer-email {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: right;
    margin-bottom: 20px;
  }
  .footer-rights {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .footer-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 0;
  }
  .footer-accept {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-email {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: left;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-rights {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
.success {
  background-color: #FBFBFB;
}
.success-content {
  padding: 142px 0;
}
.success-block {
  max-width: 850px;
  margin: 0 auto;
}
.success-block__picture {
  display: block;
  margin: 0 auto;
}
.success-block__text {
  text-align: center;
  margin: 40px 0;
}
.success-block__btn {
  padding: 18px 86px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 196px;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .success-content {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
  }
  .success-block__text {
    font-size: 24px;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .success-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .success-block__text {
    font-size: 24px;
    font-weight: 600;
  }
}
@media screen and (max-width: 768px) {
  .success-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 83px 0;
  }
  .success-block__text {
    font-size: 24px;
    font-weight: 600;
  }
  .success-block__picture {
    width: 80px;
    height: 80px;
  }
  .success-block__btn {
    max-width: 296px;
    width: 100%;
  }
  .success-block__btn span {
    margin: 0 auto;
  }
}